body {
    width: 100%;
    height: 0px;
    margin: auto;
    top: 0; left: 0;
    position: relative;
    z-index: 1;
    background: url(http://www.ins3.com/images/default-source/default-album/training-room_web-banner-size.jpg?sfvrsn=0) center no-repeat;
    background-size: cover;
 }

  h1 {
    font-family: verdana;
    color: black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 15px;
    color:black
  }

  h2 {
    text-align: center;
    font-family: verdana;
    font-size: 20px;
    color:black;
    border-bottom: 3px solid blue;
    display: inline-table;
  }

  h3 {
    text-align: center;
    font-family: verdana;
    font-size: 15px;
    color:black
  }

  h4 {
    text-align: center;
    font-family: verdana;
    font-size: 20px;
    color:black
  }

  a {
    font-weight: bold;
    font-family: verdana;
    font-size: 16px;
    color:black
  }

.profilpic {
    z-index: auto;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.logo {
    z-index: auto;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.contenupage {
        width:50%;
        font-size:1em;
        position: relative;
        margin-left: 25%;
        margin-right: 25%;
        min-height: 100%;
        margin-bottom: -50px;
}

label { 
    font-family: verdana;
    padding-right: 1000px;
    font-size: 15px;
    color: black;
}

nav{
    text-align: left;
    width:20%;
    margin: 0;
    background-color: transparent;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: center;
    width: 100%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid white;
    padding: 10px 0px;
}

nav a:hover{
    color: blue;
    border-bottom: 2px solid blue
}

.sous{
    display: none;
    box-shadow: 0px 1px 2pc white;
    background-color: white;
}
nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: white;
}

.deroulant > a::after{
    content:"↯";
    font-size: 12px;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px white;
    background-color: white;
    position: left;
    width: 100%;
}

nav ul li{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}

.navigation{
    position: relative;
    z-index: 2;
    height: 2em;
    margin-bottom: 1em;
    margin-top: 2em;
}