h1 {
    text-align: center;
    font-family: verdana;
    color: white;
    border-bottom: 3px solid blue;
  }
  
  p {
    text-align: center;
    font-family: verdana;
    font-size: 25px;
    color: white;
  }